<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" />
	<Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />
	
	<Target Name="Build">
		<ItemGroup>
			<Projects Include="src\CatBrows.Generator\CatBrows.Generator.csproj"/>
			<Projects Include="src\TestSample\TestSample.csproj"/>
			<Projects Include="src\TestSample.BrowserGuardDisabled\TestSample.BrowserGuardDisabled.csproj"/>
			<Projects Include="src\TestSample.BrowserGuardEnabled\TestSample.BrowserGuardEnabled.csproj"/>
			<Projects Include="src\TestSample.DefaultSettings\TestSample.DefaultSettings.csproj"/>
			<Projects Include="src\Tests\CatBrows.Generator.Tests.csproj"/>
		</ItemGroup>
		<MSBuild Projects="src\CatBrows.sln" Targets="Build"/>
	</Target>
</Project>
