<?xml version="1.0" encoding="utf-8" ?>
<goose version="1">
  <action on="save" glob="copy-plugin">
    <!-- relative path from the project directory to the working directory of the command -->
    <working-directory></working-directory>
    <command>Copy-Item -Force -Path ..\BrowserTestGenerator\bin\Debug\*.* -Destination plugin</command> 
  </action>
</goose>